*.pyc
# vim swap files
.*.sw*
server/supybot/conf/
server/supybot/data/
server/supybot/logs/
server/supybot/supybot.conf.example.bak
server/www/archive.txt
server/www/status.html
server/www/status.txt
server/www/status.json
server/www/status.xml
server/www/status-local.html
